{% extends "base.html" %}

{% block content %}

<section class="about-section bg-color" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <h1>ALPHA VANTAGE</h1>
                    <p>Stock APIs in JSON, Excel & Google Sheets</p>
                    <p>Forex and cryptocurrency data feeds</p>
                    <a href="/addUser" class="btn btn-default-new">Get Api-key</a>
                </div>
            </div>
        </div>
</section>

{% endblock %}





